%div.who_we_are
  %div.container{style:'margin-top:2%;padding:1.5%;padding-top:0%; border-radius:0.3%;background-color: #f8f9f9; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
    %h1{align:'center'}
      %u "The GOD'S CAUSE"
    .box_wwr
      %p (15:85) “We created not the heavens, the earth, and all between them, but for just ends. And the Hour is surely coming (when this will be manifest). So overlook (any human faults) with gracious forgiveness.”