%div{style:'border-bottom: 1px solid #d6dce0;'}
  %blockquote
    %p= comment.body
    %footer= time_ago_in_words(comment.created_at) + "ago by #{comment.user.name}"

  - if user_signed_in?
    %p= link_to 'Delete', [comment.content, comment],
        method: :delete,
        class: "btn btn-default",
        align: 'right',
        data: { confirm: 'Are you sure?' }

:css
  blockquote{
    margin-top: 1.5% !important;
  }