%div.who_we_are
  %div{align:'center', style:"background-image: url(/assets/watermark.png);background-size: 100% auto;padding:7.1%;"}
    %div
      = image_tag 'logo_xl.png', class:'img-responsive thumbnail', style:'margin-bottom:0% !important;'
  %div.container{style:'margin-top:2%;padding:1.5%;padding-top:0%; border-radius:0.3%;background-color: #f8f9f9; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
    .box_wwr{style:'margin-top:2.4%;'}
      %h2 Who we are?
      %p Remembering Allah is an organisation which is committed to spreading the understanding of Islam which is mercy, peace and love through the lessons from the lives of the Prophets (peace be upon them all) and verses of the Quran. We operate from a centre in Abul Fazal Enclave, Okhla, New Delhi.
      %p Remembering Allah comprises of a group of youths, founded by Mr. Basit Jamal to propagate cooperation, patience, mercy and love for all human beings.  We do not belong to any one particular school of thought or sect. The group represents young Muslims of today and their unconventional approach to understand Quran and Islam.
    .box_wwr
      %h2 What we believe in?
      %p The Muslim world is going through its worst phase. We are going through all kinds of crisis whether it be political, social and most importantly spiritual. The youth especially find themselves lost with a lot many questions about life and religion raging in their minds and hearts. In this unrest, many a times they find themselves trapped in a web of terrorism, violence, bloodshed and other forms of extremism.
      %p It is impending for not just the scholars and intellectuals to contemplate on what has brought us to such a junction in time, but for each one of us. We need to ask ourselves why all this is happening. Where have we gone wrong? The fault lies with religion or us? Have we understood Islam correctly? Are we pondering over the Quran as it has been prescribed? Are we merely learning how to read the Quran or are we really learning from the lessons in it? Do we ignore the teachings of Quran on spreading love, mercy, forgiveness and kindness?
      %p It is crucial to find these answers, read the Quran in its true spirit and understand that ‘love for all’ is the essence of Islam. We must open our minds to thinking and reflecting on verses like: 
      %p “If you want to retaliate, retaliate to the same degree as the injury done to you. But if you are patient, it is better to be so.” (Quran 16:126)
      %p “Nor can goodness and Evil be equal. Repel (Evil) with what is better: then will he between whom and you was hatred become as it were your friend and intimate”. (Quran 41:34)
      %p These are the principles and values on which we should work. The world can become a better place only through love, mercy, patience and forgiveness and only then our enemies can become our close friends. Remembering Allah is one such endeavour and works on these lines. That is why, Remembering Allah was founded and these Quranic verses are its foundation.
    .box_wwr
      %h2 What do we do?
      %p Remembering Allah is the brainchild of a young delhi-based Quranic researcher, Basit Jamal. He studied from Jamia Millia Islamia and is currently recipient of the prestigious Ashoka fellowship. Since the last 14 years, he has been delivering talks, lectures and holding discussions, meetings and workshops on various topics from the Quran. He conducted a talk on “Quran and non-violence” at Comm-IT career academy in 2008 and has facilitated many workshops on Quran and peace in Kashmir with college students since 2012 in collaboration with NGOs like STEP (Standing Together to Enable Peace). He has been invited to various madrasas to speak to the students as well as teachers and share his learning of the Quran.
      %p He travels often to deliver talks in different states, including Kashmir (including Leh, Ladakh), Delhi, Maharashtra, Uttar Pradesh and Himachal Pradesh. Apart from this, he holds one to one as well as group discussions with many a people who are mainly students and working youth. These discussions are aimed at revisiting the stories mentioned in the Quran and deriving lessons from them, discussing current burning topics like terrorism etc., and deliberating on the understanding various topics on Islam and religion.
      %p The ideas are then presented by these youth, who belong to various places, among their peers. A few such members who are now based in or studying in England and Italy held such talks over there and received very positive responses. 
      %p Our main activity is reading and researching the Quran based on which we write articles, produce videos and even publish books. Mr. Basit has written two booklets so far and a few more are underway. We intend to spread our reach to maximum people through this website. Apart from this, talks are held regularly at the Centre by Mr. Basit. We wish to reach out to people through various other ways in the future and invite them to the universal goodness, peace and love by contemplating on the Quran.
    .box_wwr
      %h2 Our Aim
      %ul{style:'list-style-type:circle;font-size:1.4em;line-height:1.6em;'}
        %li To mitigate every kind of extremism through pondering over Quran.
        %li To create an environment of inclusiveness, forgiveness, mercy and love for all by reflecting on stories of the Prophets.
        %li To develop a counter narrative to hatred, stereotyping, prejudices and misunderstanding.
        %li To understand the deeper meaning and essence of Islam and Quran through contemplation




 




