<div class="container">
  <div class="row">


      <h1>Editing Category</h1>

      <%= render 'form' %>
      <br>

      <%= link_to 'Show', @category, class:'btn btn-default' %> |
      <%= link_to 'Back', categories_path, class:'btn btn-default' %>

  </div>
</div>

