<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 shadow" style="padding: 1%;text-align: center; margin-top: 5%;">

      <h1>Editing Category</h1>

      <%= render 'form' %>
      <br>

      <%= link_to 'Show', @category, class:'btn btn-default' %> |
      <%= link_to 'Back', categories_path, class:'btn btn-default' %>
    </div>
  </div>
</div>

