<div class="container">

  <h1>Editing Testimonial</h1>

  <%#= image_tag @testimonial.public_id %>

  <br><br>

  <%= render 'form' %>

  <br>
  <%= link_to 'Back', root_path, class:'btn btn-default' %>

</div>